body {
    background-color: rgba(var(--color-fill-content-prime), var(--tw-bg-opacity));
}

.hole {
    height: 750px;
    width: 80%;
    /* border:2px solid black; */
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.left {
    height: 750px;
    width: 28%;
    border-radius: 20px;
}

.right {
    height: 750px;
    width: 68%;
    border:2px solid rgb(211, 205, 205);
    padding: 5px;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;

}

.top p {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.top {
    height: 55px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border:2px solid black; */
    border-radius: 10px;
    background-color: rgb(236, 242, 248);
    --tw-border-opacity: 1;
    border-color: rgba(var(--color-line-default), var(--tw-border-opacity));
    ;
}

.pic {
    height: 350px;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(6, 6, 11, 1), rgba(19, 17, 23, 0.7)), url("156581.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h4 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}

p {
    color: white;
    margin-left: 20px;
}

.player {
    height: 100%;
    width: 55%;
    margin-left: 150px;


}

.player-pic {
    height: 210px;

    /* border:2px solid black; */
}

.black {
    border: 2px solid black;
    background-color: black;
    margin-top: 0px;
    height: 45px;
    border-radius: 10px;
}

.log {
    height: 380px;
    width: 100%;
    margin-top: 20px;
}

.play {
    height: 100%;
    width: 100%
}

.details {
    height: 200px;
    width: 100%;
    /* border:2px solid black; */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.one {
    height: 98px;
    width: 11%;
    padding: 10px;
    /* border:2px solid black; */
}

.color {
    color: grey;
    margin-left: 10px;
    cursor: pointer;
}


h5 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 10px;
}

.bottomdetails {
    height: 440px;
    /* border:2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.two {
    height: 45px;
    width: 31%;
    /* border:2px solid black; */
    display: flex;
}

.logo img {
    height: 20px;
    width: 26px;
    margin-top: 10px;
    margin-left: 10px;
}

.link {
    margin-top: 10px;
    margin-left: 15px;
}

a {
    color: black;
    font-weight: bolder;
}